/* Custom color theme properties */
:root {
  --f7-theme-color: #ff6700;
  --f7-theme-color-rgb: 255, 103, 0;
  --f7-theme-color-shade: #d65700;
  --f7-theme-color-tint: #ff7f29;
}

/* Your app custom styles here */